/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/docker-files/cron
/docker-files/nginx/certs
/docker-files/nginx/mysql
/docker-files/php
/storage/dbdata
/storage/redis
/storage/test_dbdata
